@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'SourceReg';
  src: url('./assets/Fonts/SourceSans3-Regular.ttf')
}

@font-face {
  font-family: 'SourceBold';
  src: url('./assets/Fonts/SourceSans3-Bold.ttf')
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D8BACC;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}